.email-login-content {
  height: 500px;
  background-color: #fff;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.submit-btn {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
