.btn-container {
  width: 180px;
  margin: auto;
  padding: 10px 0;
  position: relative;
}

.btn-container::before,
.btn-container::after {
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #ffc107;
  transition: 0.8s;
}

.btn-container::before {
  top: 0;
  right: 0;
}

.btn-container::after {
  left: 0;
  bottom: 0;
}

.btn-container:hover::before,
.btn-container:hover::after {
  width: 100%;
}

.btn-container button {
  font-size: 24px;
  color: white;
  background-color: #ffc107;
  border: 3px solid white;
  padding: 5px 30px;
  transition: 1s;
}
.btn-container button:hover {
  border: 3px solid #ffc107;
  background-color: white;
  color: #ffc107;
}
