.flower-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flower-container div {
  width: 70px;
  height: 1px;
  background-color: #4e4e4e4f;
}
.flower-container img {
  width: 50px;
  margin: 0 15px;
}
