.logo {
  width: 215px;
}
.address-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.open-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.open-info h3 {
  color: #ffc107;
}
.open-info div {
  width: 60px;
  height: 3px;
  background-color: #111111;
  margin: auto;
  margin-bottom: 20px;
  transition: 0.8s;
}
.open-info:hover div {
  background-color: #ffc107;
}
.open-info p {
  color: #ffc107;
}
.contact-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-info p {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 0;
  transition: 0.5s;
}
.contact-info p:hover {
  color: #ffc107;
}
.contact-info span {
  font-size: 18px;
}
